/*
	Name: Jairo Jurado
*/


* {
	background-color: #efefef;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.5;
	font-family: "optima", helvetica, arial, sans-serif;
	text-align: justify;
	letter-spacing: 0.1px;
	word-spacing: 0.1px;
}   /* These are the document's default properties and values */


#image {
	vertical-align: middle;
}

p {
	color: #3766a0;
	font-size: 16px;
}


h1, h2, h3 {
	text-indent: 10px;
	text-decoration: line-through;
	text-shadow: 1px 1px 5px #000000, 1px 1px 5px #383838;
	text-transform: uppercase;
	color: rgba(53, 96, 56, 0.5);
}	/* Headers have a different treatment from the whole page */


ul, ol li {
	list-style-type: cjk-ideographic;
	color: #a54169;
	vertical-align: middle;
}	/* Lists also get a different treatment to separate them from paragraphs and such */


ul li {
	opacity: 0.7;
}	/* I wanted to see how links will look when using the opacity property */


.copyright {
	font: italic small-caps normal 16px/1.5 "futura", helvetica, arial, sans-serif;
}	/* I thought it was a good idea to change the style of the copyright section to again, separate it from the other sections of the page */